body {
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url('fondo-veterinaria.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registro-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.registro-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.registro-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registro-container button {
    width: 100%;
    padding: 10px;
    background-color: #009900;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registro-container button:hover {
    background-color: #007700;
}

/* Estilo adicional para adaptar al tema de veterinaria */
.registro-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.registro-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.registro-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registro-container button {
    width: 100%;
    padding: 10px;
    background-color: #009900;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registro-container button:hover {
    background-color: #007700;
}


.registro-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registro-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registro-container button:hover {
    background-color: #0056b3;
}
