body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightblue;
}
.ContainerPrincipal{
    display: flex;
    height: 100vh;
    align-items: center;
    padding-left: 2vw;
    gap: 4vw;
}
.Iconos{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.Icon{
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Icon img{
    width: 4vw;
}
.ImageDoctora img{
    width: 40vw;
}
.RegistroContainer {
    background-color: lightblue;
    border-radius: 1vw;
    padding: 1.5vw;
    width: 35vw;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .RegistroContainer h2 {
    font-size: 1.5em;
    color: #333;
    text-align: justify;
  }
  
  .RegistroContainer form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  
  .RegistroContainer input {
    padding: 0.7vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
    font-size: 1em;
    width: 20vw;
  }
  
  .RegistroContainer select {
    padding: 0.6vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
    font-size: 1em;
    width: 21.5vw;
  }
  
  .RegistroContainer button {
    padding: 1vw;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 1vw;
    font-size: 1.2em;
    cursor: pointer;
    width: 21.5vw;
  }
  
  .RegistroContainer button:hover {
    background-color: #0056b3;
  }
  